{% extends "main.html" %}
{% block title %}Add a book{% endblock %}

{% block nav %}

<li class='nav'  >
    <a class='navbar-brand' style=" text-align: center; align-content: center; margin: 5px; padding: 0px;" href='/'>Home</a>
</li>

{% endblock %}

{% block content %}
<form class='text-center mt-4 container' style="width: 60%;" action='addBook' method='POST'>
     <h1 class='display-4 text-center' style="padding-top: 5%;">Add a Book</h1><br>
     <div class="input-group mb-3"><input type="text" class="form-control" placeholder="Title" name="title" required autofocus></div>
     <div class="input-group mb-3"><input type="text" class="form-control" name='author' placeholder="Author" required></div>
     <div class="input-group mb-3"><input type="text" class="form-control" name='genre' placeholder="genre"  required></div>
     <div class="input-group mb-3"><input type="text" class="form-control" name='height' placeholder="Height" ></div>
     <div class="input-group mb-3"><input type="text" class="form-control" name='publisher' placeholder="Publisher" ></div>
    <button class='btn btn-lg btn-primary btn-block ' style="width: 30%; margin: auto;" type='submit'>Add</button>
     
</form>

{% endblock %}